<?xml version='1.0' encoding='utf-8'?>
<widget id="fi.metatavu.muikkupeliApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Muikkutesti App</name>
    <description>Application to display Kangastus info TV screens</description>
    <author email="info@metatavu.fi" href="https://metatavu.fi">Metatavu Oy</author>
    <content src="index.html" />
    <access origin="https://ssl.gstatic.com" />
    <access origin="https://cdn.metatavu.io" />
    <access origin="http://api.openweathermap.org" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <engine name="browser" spec="^4.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.3" />
    <plugin name="cordova-plugin-fullscreen" spec="~1.1.0" />
</widget>
