doctype html
html
  head
    meta(http-equiv='Content-Security-Policy', content="default-src " + generic.defaultSrc + "; style-src " + generic.styleSrc + "; media-src "  + generic.mediaSrc)
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    meta(charset='UTF-8')
    // bower:css 
    // endbower 
    link(rel='stylesheet', href='css/muikkupeli.min.css')
    link(rel='stylesheet', href='css/overrides.css')
    script(src="cordova.js",type="text/javascript")
    // bower:js 
    // endbower 
    script(src='js/config.js')
    script(src='js/pug-templates.js')
    //script(src='https://cdn.metatavu.io/libs/tools/debug/0.0.4/debug.js')
    script(src='js/stoproutine.js')
    script(src='js/muikkupeli-clock.js')
    script(src='js/muikkupeli-weather.js')
    script(src='js/muikkupeli.js')
    title Muikkutesti
  body(oncontextmenu="return false", ondragstart="return false", onselectstart="return false")
    .header-container
      h1.header-title Muikkutesti
    .content-container
      .start-screen.screen
        .container
          p.start-content
            |Meitä muikkuja on Mikkelissä joka lähtöön. Testaa, mitkä asiat saavat juuri sinun sisäisen muikkusi heräämään, mitkä Mikkelin seudun maut ja maisemat sopivat sinulle. 
          .start-img-container
            img.start-img(src='gfx/muikut.png')
          div
            a.start-button.muikkupeli-btn(href='#')
              h5 Testaa nyt!
      .questions-screen.screen
        .container
          .question-img-container
            img.question-img(src='gfx/matkailumuikku.png')
          .question-container   
      .finish-screen.screen
        .container-fluid
          .finish-container
          div
            a.again-button.muikkupeli-btn(href='#')
              h5 Testaa uudelleen!
        .all-muikku-container
          .container-fluid
            h4.all-results Kaikki Muikut
            .row
              .col-4.other-result-btn(data-result='PAAMAJA')
                .other-image-container
                  img.other-img(src='gfx/paamajamuikku_iso.png')
                p Päämaja-muikku
              .col-4.other-result-btn(data-result='KULINARISTI')
                .other-image-container
                  img.other-img(src='gfx/kulinaristimuikku_iso.png')
                p Kulinaristi-muikku
              .col-4.other-result-btn(data-result='HYGGEILIJA')
                .other-image-container
                  img.other-img(src='gfx/hyggeilijamuikku_iso.png')
                p Hyggeilijä-muikku
            .row
              .col-4.other-result-btn(data-result='FESTIVAALI')
                .other-image-container
                  img.other-img(src='gfx/festivaalimuikku_iso.png')
                p Festivaali-muikku
              .col-4.other-result-btn(data-result='MIKKELI')
                .other-image-container
                  img.other-img(src='gfx/mikkelimuikku_iso.png')
                p Mikkeli-muikku
              .col-4.other-result-btn(data-result='HULIVILI')
                .other-image-container
                  img.other-img(src='gfx/hulivilimuikku_iso.png')
                p Hulivili-muikku
    .footer-container
      .container-fluid
        .row.no-gutters
          .col-5.footer-block.side-block
            .row.no-gutters
              .col-8.text-container
                h5 Tapahtumat
                small www.mikkelinyt.fi
              .col-4
                img.qr-code(src='gfx/mikkelinytqr.png')
          .col-2.footer-block.temp-container
            h5.temp-display
            h5.time-display
          .col-5.footer-block.side-block
            .row.no-gutters
              .col-8.text-container
                h5 Muikkutesti
                small visitmikkeli.fi/muikkutesti
              .col-4
                img.qr-code(src='gfx/muikkutestiqr.png')